div.list {

    margin: 0 15vw;
    margin-bottom: 10vh;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
        color: lightblue;
        border-bottom: 1px solid lightblue;
        width: fit-content;
        padding-bottom: 10px;
    }

    div.options {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin: 10px 0;

        div.categories {

            select{
                background-color: transparent;
                border: 1px solid lightblue;
                border-radius: 5px;
                margin: 0 5px;
                color: lightblue;

                option {
                    color: rgb(127, 210, 238);
                    background-color: white;
                }
            }

            
        }

        padding-bottom: 10px;
        border-bottom: 1px solid lightblue;
    }

    ul {
        margin: 0;
        padding: 0;
        li {
            margin: 5px 0;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                text-decoration: none;
                cursor: pointer;
                color: black;

                &:hover {
                    color: lightblue;
                }
            }
        }
    }
}