div.userDetail {

    margin: 0 15vw;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h4{
        margin: 0;
        color: lightblue;
        text-transform: capitalize;
        font-size: x-large;
    }

    ul {
        padding: 0;

        display: grid;
        grid-template-columns: repeat(2, 1fr);

        li{
            grid-column: span 1;
            list-style: none;

            border-bottom: 1px solid lightblue;

            padding: 10px;

            max-width: 20vw;

            &:last-child{
                border-bottom: none;
            }
        }

        label {

            border-right: 1px solid lightblue;
            border-bottom: 1px solid lightblue;

            padding: 10px;

            &:last-of-type{
                border-bottom: none;
            }
        }
    }

    div.img {

        margin: 10px 15vw;
        border: dashed 3px lightblue;
        padding: 30px;

        img {
            max-height: 33vh;
        }
    }
}