.nav {

    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    padding-bottom: 10px;

    margin: 30px 0;
    border-bottom: 1px black solid;

    ul {
        display: flex;
        justify-content: space-around;

        a {
            text-decoration: none;
            color: black;

            
        

            li {
                list-style: none;

                padding: 0 50px;

                border-left: 5px black double;
                border-right: 5px black double;
                border-radius: 30px;

                

                &:hover {
                    box-shadow: 0 0 3px 3px gray;
                    border: none;
                }

                &:active {
                    box-shadow:  0 0 3px 3px red, 0 0 6px 6px gray;
                }

                
            }

        }
    }
}

.selected {
    font-weight: bold;
    text-shadow: gray 1px 0 10px;
}