div.notes {
    margin: 0 15vw;

    display: flex;
    flex-direction: column;

    h1 {
        text-align: center;
    }

    div.space {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fill, calc(60vw/4));
        justify-content: center;


        ul {

            background-color: yellow;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
            padding: 30px;

            li {
                list-style: none;

                &.author {
                    padding-top: 10px;
                    text-align: right;
                    color: gray;
                }
            }
        }
    }
}