div.currencies {
    margin: 20px 15vw;
    background-color: white;
    border-radius: 30px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    padding: 50px;

    p {
        margin: 0;
        padding-bottom: 10px;
    }

    button {
        outline: none;
                background-color: #7F4677;
                color: white;
                border-radius: 30px;
                border: none;
                width: auto;
                height: 30px;
                padding: 5px 20px;
                text-transform: uppercase;
                font-weight: normal;
                font-size: small;

                &.left {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
                &.right {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }

                &.l {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
                &.c {
                    border-radius: 0;
                }
                &.r {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
                &:hover {
                    cursor: pointer;
                    background-color: white;
                    color: #7F4677;
                    box-shadow:inset 0px 0px 0px 1px #7F4677;
                }

                &.active {
                    background-color: white;
                    color: #7F4677;
                    box-shadow:inset 0px 0px 0px 1px #7F4677;
                }
    }
}

div.detailsBox {
    margin: 50px 15vw;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 30px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    padding: 50px;
    position: relative;

    div.arrow{

        position: absolute;
        top: 30px;
        left: -30px;
        background-color: white;
        border-radius: 30px;
        box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
        padding: 25px 30px;

        &:hover {
            cursor: pointer;
            box-shadow:inset 0 0 1px 1px #7F4677;
        }
    }

    div.edit {

        position: absolute;
        top: 120px;
        left: -30px;
        background-color: white;
        border-radius: 30px;
        box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
        padding: 25px 30px;

        &:hover {
            cursor: pointer;
            box-shadow:inset 0 0 1px 1px #7F4677;
        }

    }

    div.delete {

        position: absolute;
        top: 210px;
        left: -30px;
        background-color: white;
        border-radius: 30px;
        box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
        padding: 25px 30px;

        &:hover {
            cursor: pointer;
            box-shadow:inset 0 0 1px 1px #7F4677;
        }

    }

    div.details {

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

        &.wide {
            grid-template-columns: repeat(2, 1fr);
            padding-left: 30px;
            padding-right: 30px;

            ul {
                padding: 0;
                .name {
                    justify-content: flex-start;
                    text-align: left;
                    letter-spacing: 15px;
                }
                .games {
                    div > p > a {
                        font-weight: normal;
                        text-decoration: none;
                        color: black;
                        text-transform: uppercase;
                        
                        &:hover {
                            color: #7F4677;
                        }
                    }
                }
                svg {
                    margin-right: 10px;
                }
            }
        }

        ul {
            grid-column: span 3;

            li {
                list-style: none;

                display: grid;
                grid-template-columns: repeat(2, 1fr);

                p {
                    grid-column: span 1;
                    text-align: left;

                    &:nth-child(2) {
                        font-weight: bolder;
                    }

                    &.description {
                        color: darkgray;
                        font-weight: normal;
                    }

                    .purple {
                        color: #7F4677;
                    }
                }

                &.name {
                    grid-column: span 2;
                    border-bottom: 1px solid #7F4677;
                    color: #7F4677;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: larger;
                    padding: 10px 0;
                    display: flex;
                    justify-content: center;
                }
            }
        }

        div.img {
            grid-column: span 1;
            img {
                max-height: 350px;
                max-width: 300px;
                padding: 15px;
                padding-top: 15%;
            }
        }
    }
}

div.deleteModal {
    height: 200px;
    margin: 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    h2 {
        color: #7F4677;
    }

    div.buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;

        button {
            margin: 0 30px;
            background-color: white;
            color: white;
            border-radius: 30px;
            border: none;
            width: 100px;
            padding: 5px 10px;
            text-transform: uppercase;
            background-color: white;
            color: #7F4677;
            box-shadow:inset 0px 0px 0px 1px #7F4677;

            &.confirm {
                background-color: #7F4677;
                color: white;
            }

            &:hover {
                cursor: pointer;
                box-shadow: 0 0 5px 5px #7F4677, 0 0 3px 3px gray;
            }
        }
    }
}