div.itemsList {

    margin: 50px 15vw;
    background-color: white;
    border-radius: 30px;

    h2 {
        padding: 10px 30px;
        background-color: #7F4677;
        color: white;
        border-radius: 30px;
    }

    ul {
        padding: 30px 30px;
    }
}