div.offersBox {
    
    ul.list {

        padding-left: 0;
        
        li {
            list-style: none;
            
        }
    }
}

div.offersControl {
    margin: 50px 15vw;
    margin-bottom: 0;
    background-color: white;
    border-radius: 30px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    padding-bottom: 30px;

    h2 {
        padding: 10px 30px;
        background-color: #7F4677;
        color: white;
        border-radius: 30px;
    }

    button {
        border: none;
        text-transform: uppercase;
        background-color: transparent;
        font-size: medium;
        font-weight: bolder;

        a {
            text-decoration: none;
            color: #7F4677;
        }
    }

    div {

        &.sortOptions {
            padding: 0 30px;
            margin: 10px 0;
            display: flex;
            justify-content: space-around;
            align-items: center;

            button {

                outline: none;
                background-color: #7F4677;
                color: white;
                border-radius: 30px;
                border: none;
                width: auto;
                height: 30px;
                padding: 5px 20px;
                text-transform: uppercase;
                font-weight: normal;
                font-size: small;

                &.left {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
                &.right {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }

                &.l {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
                &.c {
                    border-radius: 0;
                }
                &.r {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
    
                &:hover {
                    cursor: pointer;
                    background-color: white;
                    color: #7F4677;
                    box-shadow:inset 0px 0px 0px 1px #7F4677;
                }

                &.active {
                    background-color: white;
                    color: #7F4677;
                    box-shadow:inset 0px 0px 0px 1px #7F4677;
                }
            }
        }
    }
}

@media (max-width: 800px) {

    div.offersBox {
        margin: 50px 2.5vw;
    }

    div.offersControl {
        margin: 50px 2.5vw;
    }
}

@media (max-width: 600px) {
    div.offersControl {
        margin: 50px 0;
        border-radius: 0;
        h2 {
            border-radius: 0;
        }

        div.sortOptions {
            display: flex;
            flex-direction: column;
            div {
                padding: 5px 0;
            }
            button {
                font-size: x-small;
            }
            > p {
                text-transform: uppercase;
            }
        }

        div.filterOptions {

            display: flex;
            flex-direction: column;
            > p {
                text-transform: uppercase;
            }

            div.rangeBox {
                display: flex;
                flex-direction: column;
                align-content: center;
                justify-content: center;
                margin-bottom: 30px;
            }

            div.producersBox {
                margin-bottom: 30px;
            }

            div.submit {
                display: flex;
                justify-content: center;
                margin-bottom: 30px;
            }
        }
    }

    div.offersBox {
        margin-left: 0;
        margin-right: 0;
    }
    
}