div.box{

    margin: 0 15vw;

    div.movie {
        padding: 0;
        margin: 0;
        border: 1px solid black;
        display: flex;
        flex-direction: column;

        text-align: center;

        ul {
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            li {
                list-style: none;
                border-bottom: 1px solid black;

                padding: 5px;

                &:nth-child(11) {
                    border-bottom: none;
                }
                &:nth-child(12) {
                    border-bottom: none;
                }

                &.title{

                    grid-column: span 3;
                    background-color: rgb(0, 163, 108);
                    text-transform: uppercase;
                    letter-spacing: 0.7em;

                    button.edit {
                        background-color: transparent;
                        border: none;
                        border-bottom: 1px solid black;
                        text-transform: uppercase;
                        font-size: smaller;
                        // border-radius: 10px;
                        padding: 5px;
                        cursor: pointer;

                        &:hover {
                            color: white;
                            border-bottom: 1px solid white;
                        }
                    }
                }

                &.label{

                    grid-column: span 1;
                    border-right: 1px solid black;
                    background-color: gainsboro;
                }

                &.actorFlex {
                    grid-column: span 3;

                    border-bottom: none;

                    display: flex;
                    flex: 50px;
                    flex-wrap: wrap;
                    justify-content: center;
                }

                grid-column: span 2;
            }
        }
    }

    
}

div.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    button.exitButton{
        position: absolute;
        z-index: 1;
        right: 0;
        top: 0;
        background: transparent;
        border: none;
        cursor: pointer;
    }

    form {
        select {
            background-color: transparent;
            border: none;
            border: 1px solid black;
            border-radius: 5px;
            padding: 5px;
            margin: 0 10px;
        }
    }
}


