nav {

    position: fixed;
    top: 0;
    width: 100vw;

    margin: 0;
    

    background-color: limegreen;

    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);

    ul {

        margin: 0;
        
        
        display: flex;
        justify-content: center;
        align-items: center;

        * {
            margin: 0 10px;
        }

        li {
            list-style: none;
            
            a {
                text-decoration: none;
                color: black;

                &:hover {
                    color: white;
                }


                &:active {
                    text-shadow: 2px 2px black, 1px 1px gray;
                }
                
            }
        }

        p {
            border-left: 1px solid black;
            border-right: 1px solid black;
            background-color: gainsboro;

            padding: 20px 5px;
        }
    }
}